@media print {

	.navbar,
	#settings-bar,
	footer,
	#time-dropdown {
		display: none;
	}

	body {
		width: 100%;
		height: 100%;
		color: black;
		background-color: white;
	}

	main {
		width: 100%;
		margin-left: 0px;
	}

	.recipe-title {
		font-size: 24pt;
        margin-top: -.5in;
	}

	#image-div {
		height: 200px;
	}

	.recipe-image {
		width: auto;
		height: 100%;
		max-width: 100%;
		border-radius: 10px;
	}

	.recipe-meta {
		gap: 5px 1rem;
		font-size: 10pt;
		margin-bottom: 0px;
	}

	.additional-time li,
	.recipe-desc {
		font-size: 12pt;
	}

	.recipe-header {
		font-size: 14pt;
		margin-bottom: 3px;
	}


	#ingredients li,
	#directions li {
		margin: 0px;
		font-size: 11pt;
	}

	p {
		font-size: 10pt;
	}

}