:root {
    --base-color: white;
    --primary-text: black;
    --logo: url(/static/logo-black.svg);
    --card-bg: inherit;
    --card-hover: #f6f6f6;
    --anchor-color: rgba(var(--bs-link-color-rgb));
    --anchor-hover: rgba(128,0,128);
    --muted-text: #6C757E;
    --button-color: #23272B;
    --button-hover: #343A40;
    --search-color: #f6f6f6;
    --search-within: 0 0 2px rgba(0, 0, 0, 0.75);
    --input-bg: #fff;
    --input-text: #212529;
    --input-border: #dee2e6;
    --input-shadow: 0 0 0 .25rem rgba(13,110,235,.25);
    --input-border-focus: #86b7fe;
    --popup-bg: rgba(255, 255, 255, 0.2);
    --popup-color: white;
    --popup-x-bg: rgb(0,0,0,.1);
    --popup-x-color: rgb(0,0,0,.5);
    --popup-x-hover: rgb(0,0,0,.2);
    --popup-shadow: rgba(0, 0, 0, 0.25);
}

.darkmode {
    --base-color: #212121;
    --primary-text: white;
    --logo: url(/static/logo-white.svg);
    --card-bg: #1c1c1c;
    --card-hover: #191919;
    --anchor-color: #3f84e4;
    --anchor-hover: #6D73E4;
    --muted-text: #bebebe;
    --button-color: #353535;
    --button-hover: #404040;
    --search-color: #333;
    --search-within: 0 0 2px rgba(255, 255, 255, 0.75);
    --input-bg: #333;
    --input-text: #fff;
    --input-border: #666;
    --input-shadow: 0 0 0 .15rem rgba(255,255,255,.25);
    --input-border-focus: rgba(255,255,255,.5);
    --popup-bg: rgba(0, 0, 0, 0.1);
    --popup-color: #212121;
    --popup-x-bg: rgb(255,255,255,.3);
    --popup-x-color: rgb(255,255,255,.5);
    --popup-x-hover: rgb(255,255,255,.2);
    --popup-shadow: rgba(255, 255, 255, 0.15);
}

@font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url(OpenSans.ttf)
}

body {
    background-color: var(--base-color);
    color: var(--primary-text);
}


/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
    font-family: serif;
}

.navbar-custom {
    background-color: #171717;
}

.navbar-brand {
    color: white;
}

.navbar-custom a {
    color: white;
}

.navbar-custom a:hover {
    color: #BEBEBE;
}

.footer-text {
    font-family: serif;
    font-size: 35pt;
    color: var(--primary-text);
}

#footer-logo {
    max-height: 100px;
    content: var(--logo);
}

#navbar ul li {
    color: white;
}

#navbar ul li ul {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    right: 0px;
    z-index: 200;
}

#navbar ul li ul li {
    background-color: #171717;
    list-style-type: none
}

#navbar ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: block;
}

.card-custom {
    background-color: var(--card-bg);
    color: var(--primary-text);
}

.card-custom a {
    color: var(--anchor-color);
}

.card-custom a:hover {
    color: var(--anchor-hover);
}

.forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form-title {
    font-family: serif;
    font-weight: bold;
    font-size: 15pt;
}

.logo {
    font-family: serif;
}

.subtitle {
    font-size: 14pt;
    font-family: "OpenSans";
}

.main {
    font-family: "OpenSans";
    font-weight: 600;
    font-size: 15pt;
    margin-top: 50px;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.navbar-custom {
    background-color: #171717;
}

.navbar-brand {
    color: white;
}

.navbar-custom a {
    color: white;
}

.navbar-custom a:hover {
    color: #BEBEBE;
}

.card:hover {
    background-color: var(--card-hover);
}

.card button {
    z-index: 200;
    position: relative;
}

.delete-button:hover {
    background-color: red;
    border-color: red;
    color: white;
}

.source-link {
    z-index: 200;
    position: relative;
}

.source-link:hover {
    color: purple;
}


[contenteditable="true"]:focus {
    outline: none;
}

.button-css, .delete-button {
    background-color: var(--button-color);
    color: white;
}

.button-css:hover {
    background-color: var(--button-hover);
    color: white;
}

.soft-link {
    color: var(--primary-text);
}

.muted {
    color: var(--muted-text);
}

/* Infinite Logo Scroll */
/* https://ryanmulligan.dev/blog/css-marquee/ */
/* 
.site-loop {
    --gap: 30px;
    display: flex;
    gap: var(--gap);
    position: relative;
    user-select: none;
    height: 200px;
    align-items: center;
}

.loop-container {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    gap: var(--gap);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 300px;
    height: 100%;
}

.image-container img,
.image-container svg {
    width: 300px;
    max-height: 200px;
}

@keyframes scroll {
    from {
    transform: translateX(-2%);
    }
    to {
    transform: translateX(calc(-102% - var(--gap)));
    }
}

.scroll {
    animation: scroll 35s linear infinite;
}

.site-container img,
.site-container svg {
    width: 300px;
    max-height: 200px;
}

#site-list {
    text-align: center;
    list-style-position: inside;
    list-style-type: none;
}

#site-list li {
    display: inline-block;
    padding: 20px;
} */

input[type="text"],
input[type="password"],
textarea.textarea-css,
textarea.textarea-css:focus {
    background-color: var(--input-bg);
    color: var(--input-text);
    border: 1px solid var(--input-border);
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea.textarea-css:focus {
    box-shadow: var(--input-shadow);
    background-color: var(--input-bg);
    color: var(--input-text);
    border-color: var(--input-border-focus);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: var(--input-text);
}

/* .form-control:focus {
    box-shadow: none;
} */

#search {
    background-color: var(--search-color);
    display: flex;
    justify-content: flex-start;
    width: 300px;
    padding: 10px;
    border-radius: 50px;
    transition: box-shadow 0.25s;
    margin: auto;
}

.searchBox:focus-within {
    box-shadow: var(--search-within);
}

.searchBox input {
    margin-left: 8px;
    background-color: transparent;
    outline: none;
    border: none;
    width: 240px;
}

#search-bar {
    box-shadow: none;
    border: none;
}

#search-bar:focus {
    background: transparent;
}


/* popup */
#popup-bg {
    pointer-events: all;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--popup-bg);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    z-index: 300;
    transition: backdrop-filter .5s ease-in-out, background .5s ease-in-out;
}

#popup-bg.hidden {
    pointer-events: none;
    backdrop-filter: blur(0px);
    background: transparent;
}

#popup-bg.hidden > #popup {
    transform: translate(-50%, -50%) scale(.001);
}

#popup {
    display: block;
    background: var(--popup-color);
    box-shadow: 0 0 6px 5px var(--popup-shadow);
    position: fixed;
    padding: 50px;
    max-width: 90vw;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .5s ease-in-out;
}

.popup-x {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1.5em;
    height: 1.5em;
    background: var(--popup-x-bg);
    border-radius: 50%;
    transition: background .3s ease-in-out;
    cursor: pointer;
}

.popup-x::before,
.popup-x::after {
    transition: transform .3s ease-in-out;
  content: ""; /* Required for pseudo-elements to render */
  position: absolute;
  top: 50%;
  left: 50%;
  width: .7em;
  height: 1.5px;
  background-color: var(--popup-x-color);
  transform-origin: center; /* Ensures rotation is centered */
}

.popup-x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup-x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-x:hover {
    background: var(--popup-x-hover);

    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}


#loading-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #FFF;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
