{% extends "layout.html" %}

{% block title %}
    Add Card
{% endblock %}

{% block main %}
    <h1 style="text-align: center; margin-bottom: 20px; font-family: serif;">Add Recipe Card</h1>
    <form action="/add-card-by-url" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="url" placeholder="url" type="text">
        </div>
        <button class="btn button-css" type="submit">Add Card</button>
    </form>
    <p style="margin-top: 50px; font-family: serif; font-size: 15pt;">or add card manually:</p>
    <form action="/add-card">
        <button class="btn button-css" type="submit">Add Card Manually</button>
    </form>
{% endblock %}
